body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: #fff;
}

body {
    background-image: url('repartidorseguro.png');
    background-size: background-size 100px;
    background-repeat: no-repeat;
    background-position: center center;
} 